:root{
    --prime-bg-color: #ffffff;
    --secondary-bg-color:#2F303A;
    --third-bg-color:#F5F4FA;
    --primary-txt-color: #757575;
    --secondary-txt-color: #212121;
    --focus-color: #2196F3;
}

body{
    background-color: var(--white-color);
    color: var(--primary-txt-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

/* Common styles */
h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--secondary-txt-color);
}
.list-n-m{
    list-style: none;
    font-style: normal;
}
.link {
    text-decoration: none;
}
.contact{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--primary-txt-color);
}
.link:hover, .link:focus, .contact:hover, .contact:focus {
    color: var(--focus-color);
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--focus-color);
}

/* Header styles */
.header{ 
    background-color: var(--white-color);
}
.header .logo > span{
    color: var(--secondary-txt-color);
}
.header-nav{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-color);
}
.current {
    color: var(--focus-color);
}

/* Main Styles */
/* Hero section style */
.section-hero{
    background-color: var(--secondary-bg-color);
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--prime-bg-color);
}
.prime-btn{
    background: var(--focus-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: var(--prime-bg-color);
}
/* why-section styles */
.section-why{
    background-color:var(--prime-bg-color);
}
.section-why h3{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--secondary-txt-color);
}
.section-why p{
    line-height: 1.71;
}
/* Section-work-list styles*/
.section-work-list{
    background-color: var(--prime-bg-color);
}

/* Section-team styles*/
.section-team{
    background-color: var(--third-bg-color);
}
.section-team h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-txt-color);
}
.section-team p {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* Footer styles */
.footer{
    background-color: var(--secondary-bg-color);
}
.footer .logo>span{
    color: var(--prime-bg-color);
}
.footer-address{
    font-style: normal;
    line-height: 1.71;
    color: var(--prime-bg-color);
}

.footer .contact{
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}
.footer .contact:hover,
.contact:focus {
    color: var(--focus-color);
}
/* STYLES FOR PORTFOLIO */
